<div class="loginBody">
  <div class="loginContainer">
    <form [formGroup]='loginForm' (ngSubmit)="onSubmit()">
      <div class="formContainer">
        <div class="imageContainer">
          <img src="./../../../assets/images/echoelogo_NqK_icon.ico" alt="">
        </div>

        <label for="username">
          Username
          <input type="text" formControlName="username" placeholder="Username" autofocus>
          <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
            <div *ngIf="loginForm.controls.username.errors.required">Username is required</div>
          </div>
        </label>
        <label for="password">
          Password
          <input type="password" formControlName="password" placeholder="Password">
          <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
            <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
          </div>
        </label>

        <hr>
        <p>Don't have an account! Register <a routerLink="/register">here</a></p>
        <button type="submit" class="registerbtn">Sign In</button>
      </div>
    </form>
  </div>
</div>
