* {
  box-sizing: border-box
}

.loginBody {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #1e5799 0%, #2989d8 100%);
  padding: 10% 30%;
}

.loginContainer {
  margin: 0 auto;
  box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Add padding to containers */
.formContainer {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.imageContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
}

label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  display: inline-block;
  border: none;
  padding: 10px;
  background: #f1f1f1;
  margin-bottom: 15px;
  border-radius: 5px;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #004f8b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

@media (max-width: 479px) {
  .loginBody {
    padding: 10%;
  }
}
