* {
  box-sizing: border-box
}

.container {
  width: 100%;
  height: 100vh;
  display: inline-block;
  background-color: rgb(202, 202, 202);
  padding: 50px;
}

/* Add padding to containers */
.formContainer {
  padding: 16px;
  width: 50%;
  margin: 50px auto;
  background-color: white;
}

.imageContainer {
  width: 100%;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #004f8b;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
