<div #navbar class="navbar" *ngIf="sidebar.visible">
  <a routerLink="/main" routerLinkActive="['active']" class="tooltip">
    <i class="material-icons">
      home
    </i>
    <span class="tooltiptext">Echo</span>
  </a>
  <a routerLink="/profile" routerLinkActive="['active']" class="tooltip">
    <i class="material-icons">
      perm_identity
    </i>
    <span class="tooltiptext">Profile</span>
  </a>
  <a routerLink="/my-messages" routerLinkActive="['active']" class="tooltip">
    <i class="material-icons">
      comment
    </i>
    <span class="tooltiptext">My Posts</span>
  </a>
  <a routerLink="/statistics" [routerLinkActive]="['active']" class="tooltip">
    <i class="material-icons">
      trending_up
    </i>
    <span class="tooltiptext">Statistics</span>
  </a>
  <a routerLink="/settings" [routerLinkActive]="['active']" class="tooltip">
    <i class="material-icons">
      settings
    </i>
    <span class="tooltiptext">Settings</span>
  </a>
  <a class="tooltip" (click)="openModal()">
    <i style="color:#FFD40C;" class="material-icons">
      report_problem
    </i>
    <span class="tooltiptext">Report Bug</span>
  </a>
  <a (click)="logout()" class="tooltip">
    <i class="material-icons">
      logout
    </i>
    <span class="tooltiptext">Sign out</span>
  </a>
</div>

<div #reportBugModal class="modal" style="display: none;">
  <div class="modal-content">
    <div class="modalHeader">
      <a (click)="closeModal()">
        <i class="material-icons">close</i>
      </a>
    </div>
    <form [formGroup]="bugForm" (ngSubmit)="onSubmit()">
      <div class="modalContent">
        <h2>Help us help you!</h2>
        <h3>Try to explain to us how you came acros the bug!</h3>

        <textarea class="addPostMessage" style="grid-column:1/-1;grid-row:3/6;" cols="30" rows="10" formControlName="message"></textarea>
        <div *ngIf="submitted && bugForm.controls.message.errors" class="error" style="grid-column:1/-1;grid-row:6;">
          <div *ngIf="bugForm.controls.message.errors.required">Bug message is required</div>
        </div>
      </div>
      <div class="modalFooter">
        <button type="submit" class="submit">Report</button>
      </div>
    </form>
  </div>
</div>
